@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Teko");
* {
  color: antiquewhite; }

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.9rem;
  line-height: 24px; }

h1,
h2,
h3 {
  font-family: "Teko", sans-serif !important; }

h1 {
  font-size: 2.6rem;
  margin: 0; }

h2 {
  font-size: 1.8rem; }

.navbar a {
  font-size: 1.1rem;
  font-family: "Teko", sans-serif !important; }

.f__text_x_smaller {
  font-size: 0.7rem; }

.f__text_smaller {
  font-size: 0.8rem; }

.f__text_normal {
  font-size: 1rem; }

.f__text_bigger {
  font-size: 1.1rem; }

.f__text_big {
  font-size: 1.3rem; }

.f__bold {
  font-weight: 900; }

section {
  padding-bottom: 60px; }

.f__no_margin {
  margin-bottom: 0; }
  .f__no_margin i {
    margin-right: 15px; }

.f__row_no_padding {
  padding: 0; }

.f__row_no_margin {
  margin: 0 !important; }

div.spacer {
  padding: 15px; }

h2 {
  margin-top: 15px;
  position: relative;
  margin-bottom: 30px; }

h2:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 65px;
  height: 6px;
  background: antiquewhite; }

ul.usp li:before {
  content: '✓';
  margin-right: 15px;
  color: red; }

.button {
  background-color: red;
  font-weight: bold;
  border: 2px red solid;
  color: antiquewhite;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; }
  .button:hover {
    background-color: #990000;
    border: #990000 2px solid; }

.button-inverted {
  border: 2px red solid;
  font-weight: bold;
  color: antiquewhite;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; }
  .button-inverted:hover {
    background-color: #990000;
    border: #990000 2px solid; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.img-responsive {
  width: 100%;
  display: block;
  height: auto;
  max-width: 100%; }

.row-nopadding {
  margin-left: -12px;
  margin-right: -12px; }

header {
  padding-top: 50px;
  padding-bottom: 50px; }

/* The navigation bar */
.navbar {
  position: fixed;
  /* Set the navbar to fixed position */
  bottom: 0;
  /* Position the navbar at the bottom of the page */
  width: 100%;
  /* Full width */
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px; }
  .navbar .left {
    float: left; }
  .navbar .right {
    float: right; }
  .navbar a, .navbar a:active, .navbar a:hover, .navbar a:visited {
    position: relative;
    padding: 15px;
    text-decoration: none; }
  .navbar a:active, .navbar a:hover {
    cursor: pointer;
    text-decoration: underline; }
  .navbar .social i {
    font-size: 1.4rem; }

/* Main content */
.main {
  margin-bottom: 30px;
  /* Add a bottom margin to avoid content overlay */ }

.f__contact section.general div.social a {
  text-decoration: none; }
  .f__contact section.general div.social a i {
    font-size: 1.4rem; }

.f__teksten div.songblock .anker {
  height: 60px; }

.f__teksten div.songblock h2 {
  margin-top: 30px; }
