<div class="row event">
    <div class="col-12 f__row_no_margin">
        <div class="row f__no_padding">
            <div class="col-2">
                <div class="date">12/12/2018</div>
            </div>
            <div class="col-2">
                <div class="place">JH Tydeeh</div>
            </div>
            <div class="col-2">
                <div class="cta venue">
                    <a href="#" class="button">Venue</a>
                </div>
            </div>
            <div class="col-2">
                <div class="cta tickets">
                    <a href="#" class="button-inverted">tickets</a>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
                    facilisis enim</div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>