
<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="left">
                    <a href="/bio.html">Bio</a>
                    <a href="/transland.html">Het transland</a>
                    <a href="/teksten.html">Teksten</a>
                    <a href="/toer.html">Toer</a>
                    <a href="/contact.html">Contact</a>
                </div>
                <div class="right social">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>