/* The navigation bar */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */

    background-color: rgba(0,0,0,0.75); 
    padding: 8px;
    .left{
        float: left;
    }
    .right{
        float: right;
    }

    #{$a-tags} {
        position: relative;
        padding: 15px;

        text-decoration: none;
    }
    #{$a-tags-hover} {
        cursor: pointer;
        text-decoration: underline;
    }
    .social{
        i{
            font-size: 1.4rem;
        }
    }
}

/* Main content */
.main {
    margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}