.f__no_margin{
    margin-bottom: 0;
    i{
        margin-right: 15px;
    }
}

// CTA
.button {
    background-color: red;
    font-weight: bold;
    border: 2px red solid;
    color: antiquewhite;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    &:hover{
        background-color: darken($color: red, $amount: 20%);
        border: darken($color: red, $amount: 20%) 2px solid;
    }
}

.button-inverted {
    border: 2px red solid;
    font-weight: bold;
    color: antiquewhite;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    &:hover{
        background-color: darken($color: red, $amount: 20%);
        border: darken($color: red, $amount: 20%) 2px solid;
    }
}

// responsive youtube
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// responsive images
.img-responsive{
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

// no paddings
.row-nopadding{
    margin-left: -12px;
    margin-right: -12px;
}