// GOOGLE FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Teko');

//FONTS
$f-1: 'Teko', sans-serif;
$f-2: 'Open Sans', sans-serif;

//COLORS
$c-transp: rgba(0,0,0,0);
$c-white: rgb(255,255,255);

//EASE OF LIFE
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';