@import "variables";
@import "fonts";
@import "generals";

h2{
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
}
h2:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 65px;
    height: 6px;
    background: black;
}

div{
    margin-bottom: 20px;
}

a {
    color: red;
}
#{$a-tags} {
    position: relative;
    padding-bottom: 8px;
}
#{$a-tags-hover} {
    cursor: pointer;
}

*{
    color: black;
}

.audio{
    padding-top: 15px;
    padding-bottom: 15px;
}