{% set title = 'Fristap' %}
{% set body_class = 'f__home' %}
{% set body_bg_image = 'img/home-bg.jpg' %}

{% extends '_general.nj' %}

{% block content %}

<div class="caravan">
</div>
<div class="row">
    
    <div class="col-12">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RIegk6Xa1tk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12">
        <div class="cta">
                <a href="#" class="button">Koop nu!</a> <a href="#" class="button-inverted">Meer over Het Transland</a>
        </div>
    </div>
</div>
<div class="spacer-big"></div>

{% endblock %}