{% set title = 'Fristap - Presskit' %}
{% set body_class = 'f__presskit' %}

{% extends '_presskit.nj' %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">Foto
            <h2>Contact</h2>
            <div>Dieter Fierens</div>
            
            <h2>Links</h2>
        </div>
        <div class="col-8">
            <h2>Over Fristap</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
                facilisis enim, a placerat tellus magna a risus. Ut vitae purus consequat, lobortis nulla sed, interdum felis.
                Nam iaculis libero sed odio faucibus placerat. Nam posuere sapien eu neque sollicitudin tempus. Nam sed mattis
                mi. Suspendisse eget mi risus. Phasellus sed pretium ante.</div>
            <h2>Samenwerking</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
                facilisis enim, a placerat tellus magna a risus. Ut vitae purus consequat, lobortis nulla sed, interdum felis.
                Nam iaculis libero sed odio faucibus placerat. Nam posuere sapien eu neque sollicitudin tempus. Nam sed mattis
                mi. Suspendisse eget mi risus. Phasellus sed pretium ante.</div>
            <h2>Afbeeldingen</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
                facilisis enim, a placerat tellus magna a risus. Ut vitae purus consequat, lobortis nulla sed, interdum felis.
                Nam iaculis libero sed odio faucibus placerat. Nam posuere sapien eu neque sollicitudin tempus. Nam sed mattis
                mi. Suspendisse eget mi risus. Phasellus sed pretium ante.</div>
            <h2>Video</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xNAMxZgvves" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}