{% set title = 'Fristap - Het Transland' %} 
{% set body_class = 'f__transland' %} 
{% set body_bg_image = 'https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg'%} 

{% extends '_general.nj' %} 

{% block content %}

<div class="row page-header">
        <div class="col-12">
            <h2>Het Transland</h2>
        </div>
    </div>
<div class="row">
    <div class="col-6">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CRl7FzSTORw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="spacer"></div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
            facilisis enim, a placerat tellus magna a risus. Ut vitae purus consequat, lobortis nulla sed, interdum felis.
            Nam iaculis libero sed odio faucibus placerat. Nam posuere sapien eu neque sollicitudin tempus. Nam sed mattis
            mi. Suspendisse eget mi risus. Phasellus sed pretium ante.</div>
        <div class="spacer"></div>
        <h2>Samenwerking</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus, justo quis finibus cursus, nunc eros
            facilisis enim, a placerat tellus magna a risus. Ut vitae purus consequat, lobortis nulla sed, interdum felis.
            Nam iaculis libero sed odio faucibus placerat. Nam posuere sapien eu neque sollicitudin tempus. Nam sed mattis
            mi. Suspendisse eget mi risus. Phasellus sed pretium ante.</div>
    </div>
    <div class="col-6">
        <div class="spotify-embed">
            <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="spacer"></div>
        <div class="cta">
            <a href="mailto:dieter@fristap.com?subject=Ik wil graag een CD bestellen!&body=Hoi Fristap,%0DDoor het versturen van deze e-mail, wil ik graag een CD van je bestellen.%0DDoordat ik op verzenden klik, beloof ik ook om 15 euro te storten op het rekening nummer: BE78 9877 7899 9877.%0DMet vriendelijke groeten%0DEen grote fan" class="button">Koop nu!</a>
            <ul class="usp">
                <li>7/7 Delivery</li>
                <li>Uniek verzamelstuk</li>
                <li>Je persoonlijke fristap</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}