{% set title = 'Fristap' %}
{% set body_class = 'f__winkel' %}
{% set body_bg_image = 'https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg' %}

{% extends '_general.nj' %}

{% block content %}

<h2>Het Transland album</h2>
<div class="row">
    <div class="col-4">
        <img src=''/>
    </div>
    <div class="col-6">
            Hier is ze dan! De plaat in al haar glorie. Als je de muziek leuk vindt, koop dan alsjeblief de cd versie in deze prachtige, uitvouwbare hoes. Want een verpakking waar over is nagedacht en die is getekend door het 100% pretentieloze toptalent Greetje Hannes, is zoveel meer dan een mp3 op een schimmig internetplatform. Verkrijgbaar bij de optredens of via deze link!
    </div>
    <div class="col-2"></div>
</div>

<h2>Handelswaar</h2>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-3">

    </div>
    <div class="col-3">

    </div>
    <div class="col-3">

    </div>
</div>

<h2>Je persoonlijke Fristap T-shirt</h2>
<div class="row">
    <div class="col-12">

    </div>
</div>

{% endblock %}